.Weather {
  padding: 10px 15px 20px;
  display: block;
  max-width: 650px;
  border: 2px solid #739aeb;
  border-radius: 5px;
  background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
  font-family: "Klee One", cursive;
}

.Weather h1 {
  color: aliceblue;
  font-weight: bold;
  font-size: 30px;
  text-align: right;
  padding: 5px 0;
  margin: 5px 5px 0 0;
}

.Weather p {
  text-align: right;
  color: aliceblue;
  margin: 0 0 10px 0;
  padding: 0 5px 10px;
  font-size: 18px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  list-style: none;
  color: aliceblue;
  font-size: 16px;
}
.Weather a {
  text-decoration: none;
}

.Weather .current-temperature {
  text-align: center;
  color: aliceblue;
  font-size: 70px;
  margin-right: 5px;
  line-height: 1;
}

.Weather .units {
  position: relative;
  top: -35px;
  font-size: 18px;
  font-weight: bold;
}

.Weather .weather-icon {
  position: relative;
  bottom: -25px;
  margin-left: -75px;
}

.Weather .current-low-high {
  text-align: center;
}

.Weather .current-temperature {
  text-align: center;
  color: aliceblue;
  font-size: 70px;
  margin-right: 5px;
  line-height: 1;
}

.Weather .current-humidity-wind {
  text-align: center;
}

.Weather .current-weather {
  color: aliceblue;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  text-transform: capitalize;
}

.Weather .current-temperature .active {
  color: aliceblue;
  cursor: default;
}
.Weather .current-temperature .active:hover {
  text-decoration: none;
}
.Weather .search-city {
  margin: 0 auto;
}
.Weather .form-control {
  width: 180px;
  margin: 5px 5px;
  padding: 5px 5px;
  float: left;
}
.Weather .btn-outline-primary {
  border: none;
  color: aliceblue;
  float: left;
  margin-top: 5px;
}
.Weather .btn-outline-primary:hover {
  color: #557ae3;
  background-color: aliceblue;
}

.Weather hr {
  color: rgb(95, 209, 249);
  opacity: 0.3;
}
